In [1]:
# Importing the data
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\IanCH\OneDrive\Documents\WF_Panda_Data.csv') # this creates a DataFrame
# I use ondrive to backup my files. I use multiple devices to access this file, safer than using Git
# Data Source: https://www.kaggle.com/datasets/varpit94/wells-fargo-stock-data-updated-till-30jun2021

In [5]:
df.head()

,Date,Open,High,Low,Close,AdjClose,Volume,DR
0,1972-06-01,0.000000,0.882813,0.880208,0.880208,0.152143,249600,-0.88021
1,1972-06-02,0.882813,0.890625,0.882813,0.882813,0.152593,172800,0.00000
2,1972-06-05,0.882813,0.895833,0.880208,0.895833,0.154844,302400,-0.01302
3,1972-06-06,0.895833,0.911458,0.893229,0.895833,0.154844,196800,0.00000
4,1972-06-07,0.895833,0.895833,0.888021,0.888021,0.153493,48000,0.00781

In [10]:
tenYearDF = df[df['Date'] <= '2012-01-01']

In [11]:
def Daily_R(Open, Close): 
    Daily_return = Open - Close
    return round(Daily_return,5)

df['DR'] = tenYearDF[
    ['Open','Close']].apply(
    lambda df: Daily_R(
        df['Open'],df['Close']), axis=1)

In [12]:
tenYearDF

,Date,Open,High,Low,Close,AdjClose,Volume,DR
0,1972-06-01,0.000000,0.882813,0.880208,0.880208,0.152143,249600,-0.88021
1,1972-06-02,0.882813,0.890625,0.882813,0.882813,0.152593,172800,0.00000
2,1972-06-05,0.882813,0.895833,0.880208,0.895833,0.154844,302400,-0.01302
3,1972-06-06,0.895833,0.911458,0.893229,0.895833,0.154844,196800,0.00000
4,1972-06-07,0.895833,0.895833,0.888021,0.888021,0.153493,48000,0.00781
...,...,...,...,...,...,...,...,...
9984,2011-12-23,27.410000,27.969999,27.389999,27.790001,20.698259,27457800,-0.38000
9985,2011-12-27,27.709999,27.889999,27.610001,27.610001,20.564198,14090300,0.10000
9986,2011-12-28,27.590000,27.719999,27.080000,27.110001,20.191793,18306800,0.48000
9987,2011-12-29,27.250000,27.830000,27.219999,27.760000,20.675919,20122000,-0.51000
9988,2011-12-30,27.639999,27.780001,27.549999,27.559999,20.526955,15071100,0.08000