In [1]:
# Importing the data
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\IanCH\OneDrive\Documents\WF_Panda_Data.csv') # this creates a DataFrame
# I use ondrive to backup my files. I use multiple devices to access this file, safer than using Git
# Data Source: https://www.kaggle.com/datasets/varpit94/wells-fargo-stock-data-updated-till-30jun2021

In [2]:
df

,Date,Open,High,Low,Close,AdjClose,Volume
0,1972-06-01,0.000000,0.882813,0.880208,0.880208,0.152143,249600
1,1972-06-02,0.882813,0.890625,0.882813,0.882813,0.152593,172800
2,1972-06-05,0.882813,0.895833,0.880208,0.895833,0.154844,302400
3,1972-06-06,0.895833,0.911458,0.893229,0.895833,0.154844,196800
4,1972-06-07,0.895833,0.895833,0.888021,0.888021,0.153493,48000
...,...,...,...,...,...,...,...
12558,2022-03-18,50.849998,51.540001,50.040001,51.419998,51.419998,60949500
12559,2022-03-21,51.660000,51.799999,50.610001,51.139999,51.139999,23411500
12560,2022-03-22,52.410000,54.200001,52.299999,53.389999,53.389999,28625600
12561,2022-03-23,52.759998,53.049999,51.099998,51.119999,51.119999,27988700
12562,2022-03-24,51.709999,51.820000,50.910000,51.330002,51.330002,19665100

In [3]:
def Daily_R(Open, Close): 
    Daily_return = Open - Close
    return round(Daily_return,5)

df['DR'] = df[
    ['Open','Close']].apply(
    lambda df: Daily_R(
        df['Open'],df['Close']), axis=1)

In [4]:
df

,Date,Open,High,Low,Close,AdjClose,Volume,DR
0,1972-06-01,0.000000,0.882813,0.880208,0.880208,0.152143,249600,-0.88021
1,1972-06-02,0.882813,0.890625,0.882813,0.882813,0.152593,172800,0.00000
2,1972-06-05,0.882813,0.895833,0.880208,0.895833,0.154844,302400,-0.01302
3,1972-06-06,0.895833,0.911458,0.893229,0.895833,0.154844,196800,0.00000
4,1972-06-07,0.895833,0.895833,0.888021,0.888021,0.153493,48000,0.00781
...,...,...,...,...,...,...,...,...
12558,2022-03-18,50.849998,51.540001,50.040001,51.419998,51.419998,60949500,-0.57000
12559,2022-03-21,51.660000,51.799999,50.610001,51.139999,51.139999,23411500,0.52000
12560,2022-03-22,52.410000,54.200001,52.299999,53.389999,53.389999,28625600,-0.98000
12561,2022-03-23,52.759998,53.049999,51.099998,51.119999,51.119999,27988700,1.64000
12562,2022-03-24,51.709999,51.820000,50.910000,51.330002,51.330002,19665100,0.38000